@use "../../configs/global-variables"as g;

.main {
    min-height: calc(100vh - 56px);
    padding-top: 46px;

    background: linear-gradient(180deg, #F5DB13 0%, #F2B807 100%);

    @media (g.$tablet) {
        min-height: calc(100vh - 93px);
        overflow-x: hidden;
    }

    @media (g.$desktop) {
        display: flex;
        padding-top: 0;
        flex-direction: row-reverse;
        justify-content: center;
        align-items: center;
    }

    .text {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 42px;

        @media (g.$desktop) {
            align-items: flex-start;
            margin-left: 157px;
            white-space: nowrap;
        }
    }
}