@use "../../../configs/global-variables"as g;

.mobileTitle,
.tabletTitle,
.desktopTitle {
    text-align: center;

    font-weight: 400;
    letter-spacing: 4px;
    color: #000;

    strong {
        font-weight: 700;
    }
}

.mobileTitle {
    display: block;

    margin-bottom: 5px;
    font-size: 42px;

    @media (g.$tablet) {
        display: none;
    }
}

.tabletTitle {
    margin-bottom: 6px;

    font-size: 72px;
    line-height: 84px;

    @media (g.$mobile) {
        display: none;
    }

    @media (g.$desktop) {
        display: none;
    }
}

.desktopTitle {
    display: none;
    text-align: left;

    margin-bottom: 64px;
    font-size: 72px;
    line-height: 84px;

    @media (g.$desktop) {
        display: block;
    }
}

.mobileDescriptionText,
.tabletDescriptionText,
.desktopDescriptionText {
    text-align: center;

    font-weight: 400;
    color: #000;
}

.mobileDescriptionText {
    font-size: 24px;
    line-height: 28px;

    @media (g.$tablet) {
        display: none;
    }
}

.tabletDescriptionText {
    font-size: 24px;
    line-height: 28px;

    @media (g.$mobile) {
        display: none;
    }

    @media (g.$desktop) {
        display: none;
    }
}

.desktopDescriptionText {
    display: none;
    text-align: left;

    font-size: 32px;
    line-height: 37px;

    @media (g.$desktop) {
        display: block;
    }
}