.banner {
  position: relative;
  width: 375px;
  height: 267px;
  margin: 0 auto;
  overflow-x: hidden;
}
@media (min-width: 768px) {
  .banner {
    width: 706px;
    height: 539px;
    margin-bottom: -110px;
  }
}
@media (min-width: 1440px) {
  .banner {
    width: 888px;
    height: 678px;
    overflow-x: visible;
  }
}
.banner .cloud1 {
  position: absolute;
  left: 14px;
  top: 134px;
  width: 95px;
  height: 45px;
}
@media (min-width: 768px) {
  .banner .cloud1 {
    left: 60px;
    top: 255px;
    width: 178px;
    height: 85px;
  }
}
@media (min-width: 1440px) {
  .banner .cloud1 {
    left: 10px;
    top: 340px;
    width: 222px;
    height: 106px;
  }
}
.banner .cloud2 {
  position: absolute;
  right: 72px;
  top: 9px;
  width: 145px;
  height: 70px;
}
@media (min-width: 768px) {
  .banner .cloud2 {
    right: 136px;
    top: 30px;
    width: 273px;
    height: 131px;
  }
}
@media (min-width: 1440px) {
  .banner .cloud2 {
    right: 65px;
    top: 25px;
    width: 341px;
    height: 164px;
  }
}
.banner .darkPokeball {
  position: absolute;
  top: 19px;
  left: 35px;
  width: 71px;
  height: 71px;
  opacity: 0;
  animation: showUp 1.2s ease-out forwards 1.5s;
}
@media (min-width: 768px) {
  .banner .darkPokeball {
    top: 85px;
    left: 55px;
    width: 133px;
    height: 133px;
  }
}
@media (min-width: 1440px) {
  .banner .darkPokeball {
    top: 55px;
    left: 70px;
    width: 166px;
    height: 166px;
  }
}
.banner .pokeball {
  position: absolute;
  top: 0;
  right: 0;
  width: 133px;
  height: 134px;
  opacity: 0;
  animation: showUp 1s forwards 0.9s;
}
@media (min-width: 768px) {
  .banner .pokeball {
    top: 0;
    right: 0;
    width: 251px;
    height: 252px;
  }
}
@media (min-width: 1440px) {
  .banner .pokeball {
    top: 0;
    right: -100px;
    width: 314px;
    height: 315px;
  }
}
.banner .pikachu {
  position: absolute;
  top: 20px;
  left: 20px;
  width: 236px;
  height: 236px;
  animation: slideFromLeft 0.8s ease-out;
}
@media (min-width: 768px) {
  .banner .pikachu {
    top: 44px;
    left: 60px;
    width: 444px;
    height: 444px;
  }
}
@media (min-width: 1440px) {
  .banner .pikachu {
    top: 35px;
    left: 0;
    width: 610px;
    height: 610px;
  }
}

@keyframes slideFromLeft {
  from {
    opacity: 0;
    transform: translateX(-100%);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes showUp {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}