.list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 36px;
    row-gap: 8px;
    width: 310px;

    margin: 20px auto 25px auto;
    padding: 0;

    list-style: none;

    .listElement {
        display: flex;
        align-items: center;
        gap: 8px;

        font-size: 16px;
        font-weight: 400;
        text-transform: capitalize;
        color: #000;

        input {
            position: relative;
            margin: 0;
            width: 12px;
            height: 12px;

            &:checked {
                &::after {
                    content: '';
                    display: block;
                    position: absolute;
                    width: 11px;
                    height: 11px;

                    background-color: var(--danger);
                    left: 50%;
                    top: 50%;
                    transform: translate(-50%, -50%);
                    z-index: 1;
                }
            }
        }
    }
}