@use '../../../../configs/global-variables'as g;

.wrapper {
    position: relative;

    .list {
        display: flex;
        gap: 30px;
        height: 200px;

        padding: 0 27px;
        margin: 0;

        overflow-x: auto;
        list-style: none;

        scroll-behavior: smooth;

        @media (g.$desktop) {
            gap: 43px;
        }

        &::-webkit-scrollbar {
            display: none;
        }
    }

    .prevButton,
    .nextButton {
        display: none;
        position: absolute;

        width: 38px;
        height: 38px;

        top: calc(50% - 19px);

        border: 0;
        border-top: 8px #fff solid;
        border-right: 8px#fff solid;
        border-radius: 6px;

        background-color: transparent;

        outline: none;
        cursor: pointer;

        @media (g.$desktop) {
            display: block;
        }
    }

    .prevButton {
        transform: rotate(-135deg);
        left: -38px;
    }

    .nextButton {
        transform: rotate(45deg);
        right: -38px;
    }
}