:root {
  // Main colors
  --primary: #F2B807;
  --second: #F28F16;
  --third: #F5DB13;
  --danger: #D93E30;
  --white: #F2F2F2;
  --dark: #212121;

  // Pokemon types colors
  --pokemon-stile: #A1A1A1;
  --pokemon-dark: #A1A1A1;
  --pokemon-rock: #A1A1A1;
  --pokemon-grass: #70A83B;
  --pokemon-bug: #70A83B;
  --pokemon-water: #76AADB;
  --pokemon-ice: #76AADB;
  --pokemon-fire: #F76545;
  --pokemon-fighting: #F76545;
  --pokemon-dragon: #F76545;
  --pokemon-normal: #76AADB;
  --pokemon-gosth: #76AADB;
  --pokemon-poison: #A974BC;
  --pokemon-psychic: #A974BC;
  --pokemon-fairy: #A974BC;
  --pokemon-ghost: #A974BC;
  --pokemon-ground: #9B897B;
  --pokemon-eletric: #F7C545;

  // Margins
  --margin-1: 120px;
  --margin-2: 96px;
  --margin-3: 80px;
  --margin-4: 64px;
  --margin-5: 32px;

  // Shadows
  --box-shadow: 4px 4px 16px rgba(1, 28, 64, 0.2);
  --shadow-filter-1: drop-shadow(4px 4px 24px rgba(1, 17, 38, 0.2));
  --shadow-filter-2: drop-shadow(4px 4px 20px rgba(1, 28, 64, 0.2));
  --shadow-filter-3: drop-shadow(0px 4px 14px rgba(0, 0, 0, 0.2));
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;

  font-family: 'Source Sans Pro', sans-serif;
}

h1 {
  font-size: 72px;
}

h2 {
  font-size: 64px;
}

h3 {
  font-size: 36px;
}

h4 {
  font-size: 24px;
}

h5 {
  font-size: 18px;
}

h6 {
  font-size: 12px;
}

p {
  font-size: 16px;
}